*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- Header and navbar --> */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;

    background-color: #ffffff;
}

.navbar image-section {
    max-height: 20px;
}

nav .image-section img {
    width: 55%;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar .links .left ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.navbar .links .right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar .links .right ul li,
.navbar .links .left ul li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar .links p {
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #221f1f;
    font-weight: 00;
}

/* <!-- Footer --> */


.footer-wrapper {
    background-color: #f1f1f1;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f1f1f1;
}

footer a {
    color: #221f1f;
    border-bottom: grey;
}

.footer-heading {
    margin-top: 50px;
    grid-column: span 4;
    padding-left: 40px;
    background-color: #f1f1f1;
}

.lists {
    grid-column: span 4;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

.lists ul {
    list-style: none;
}

.lists ul li {
    margin-bottom: 15px;
}

.copyright {
    grid-column: span 4;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.copyright div:nth-child(1),
.copyright div:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.site-links {
    grid-column: span 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.site-links ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
}

.site-links ul li {
    flex-grow: 20;
}

/* <!-- Section before footer --> */
.novartis-in-society-section .image-container img {
    width: 100%;
}

.image-container {
    position: relative;
}

.novartis-in-society-card {
    max-width: 400px;
    position: absolute;
    top: 40%;
    left: 20%;
    background-color: #0460a9;
    color: #ffffff;
    padding: 30px 40px;
}

.novartis-in-society-card a {
    width: 100%;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
}

.novartis-in-society-card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.novartis-in-society-card button {
    padding: 15px 50px;
    border: 2px solid white;
    background-color: #0460a9;
    color: #ffffff;
}

/* <!-- Ukraine response --> */
.ukraine-response {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #f1f1f1;
}

.ukraine-response h1 {
    margin: 0 20px;
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    color: #221f1f;
}

.ukraine-response em {
    margin-left: 20px;
}

.ukraine-response h4 {
    margin: 0 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.ukraine-response button {
    border: 2px solid #221f1f;
    padding: 10px 32px;
    margin: 0 20px;
    color: #221f1f;
    background-color: #f1f1f1;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    border-radius: 2px;
}

.ukraine-response a {
    margin: 0 20px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #035697;
}

/* <!-- Latest news --> */
.latest-news-wrapper {
    background-color: #f1f1f1;
}

.latest-news {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.latest-news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 30px;
    background-color: #f1f1f1;
    border: none;
}

.latest-news-grid .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: white;
}

.latest-news-grid .card h6 {
    margin: 0;
    padding-bottom: 15px;
    color: #221f1f;
}

.latest-news-grid .paragraph {
    font-size: 22px;
    line-height: 28px;
    font-weight: 90;
    color: #221f1f
}

.card .date-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-heading-section {
    padding-top: 50px;
    margin-bottom: 50px;
    background-color: #f1f1f1;
}

.main-heading {
    margin: 0;
    color: #221f1f;
    background-color: #f1f1f1;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

.all-news-section {
    display: flex;
    flex: 2 1 auto;
    margin: 50px 0;
    background-color: #f1f1f1;
}

.all-news-section-button {
    border: 2px solid #221f1f;
    padding: 10px 32px;
    color: #221f1f;
    background-color: #f1f1f1;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 50px;
}

/* <!-- Environmental and social guidance cards --> */
.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.card {
    border: 1px solid grey;
}

.card .description {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.card .description h3 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #221f1f;
}

.card .description p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #221f1f;
}

.image-container {
    display: flex;
}

img {
    width: 100%;
}